@charset "UTF-8";

/* 
    em HTML é id  = em CSS é #
    em HTML é class  = em CSS é .

*/

body
{
    background-color:rgba(3, 170, 148, 0.849) ;
    font-family: Arial, Helvetica, sans-serif
}

h1
{
    color: black;
}

h1#principal
{
    text-align: center;
    background-color: rgba(1, 143, 124, 0.849);
    color: white;
}

h2
{
    color: white;   
}

.basico
{
    color: green;
}

.intermediario
{
 color: yellow;
}

.avançado
{
 color: red;
}

.destaque
{
    background-color: orange;
}